TOKEN=your_discord_bot_token
ECONOMY_TOKEN=
SECONDARY_TOKEN=
ALLOWED_ROLE_ID=0
AVALONIAN_LOG_CHANNEL_ID=0
ENABLE_MEMBER_INTENT=1
ENABLE_VOICE_INTENT=1
DASHBOARD_CLIENT_ID=
DASHBOARD_CLIENT_SECRET=
DASHBOARD_REDIRECT_URI=http://localhost:8000/oauth/callback
DASHBOARD_SESSION_SECRET=
