__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
.python_packages/

.tmp_import_bot/
.tmp_import_bot2/
.tmp_import_data/
.tmp_zip_import/
.tmp_zip_import_new/
%SystemDrive%/

.env
.env.*
!.env.example

data/*
!data/.gitkeep
